.banner-list{
  @extend .o-wrapper;
  padding-bottom: $inuit-global-spacing-unit;
}

.banner-list__{
  &header{
    text-align: center;
    width: 50%;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
  }
  &list{
    @extend .o-list-bare;
    @include mq($from: tablet){
      display: flex;
    }
  }
  &item{
    @include mq($from : tablet){
      width: 33.333%;
      padding: 0 $inuit-global-spacing-unit-tiny;
    }

  }
}