/*
  BEM BLOCK .breadcrumbs
 */

.breadcrumbs{
  display: block;
  @include inuit-font-size($inuit-font-size-h6)
}

//BEM BLOCK MODIFIER FALLBACK

[class*=breadcrumbs--]{
  @extend .breadcrumbs;

}

/*
  BEM ELEMENTS
 */

.breadcrumbs__{
  &list{
    @extend .o-list-bare;
    @extend .o-list-inline;
    display: block;
    margin-bottom: 0;
  }
  &item{
    padding-right: $inuit-global-spacing-unit-tiny;
    &:after{
      content: '>';
      display: inline-block;
      margin-left:$inuit-global-spacing-unit-tiny;
    }

  }
  &link{
    text-decoration: none;
  }

}

[class*=breadcrumbs__list--]{
  @extend .breadcrumbs__list;
}

[class*=breadcrumbs__item--]{
  @extend .breadcrumbs__item;
}

[class*=breadcrumbs__link--]{
  @extend .breadcrumbs__link;
}