.collection-list{
  @extend .o-wrapper;
  @include mq($until : mobile){
    padding: 0 !important;
  }
}

.collection-list__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from: desktop){
      width: 50%;
    }
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    @include mq($until: tablet){
      @include inuit-font-size($inuit-font-size-h5)
      margin-bottom: 0;
    }
  }
  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &item{
    @include mq($from : mobile){
      width: 50%;

    }
  }
}