.content-list{
  @extend .o-wrapper;
  @include mq($until : desktop){
    padding-top:$inuit-global-spacing-unit-large;
  }
  @include mq($until : tablet){
    padding-bottom:$inuit-global-spacing-unit-large;
  }
}

.content-list__{
  &header{
    text-align: center;
    width: 50%;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
  }
  &list{
    @extend .o-list-bare;

    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    @include mq($from : tablet){
      display: flex;
    }
  }
  &item{
    @extend .u-1-3---tablet;
  }
}