.customer-register{
  @extend .o-wrapper;

  @include mq($until: tablet){
    padding-right: $inuit-global-spacing-unit-tiny;
    padding-left:  $inuit-global-spacing-unit-tiny;
  }
}

.customer-register__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    @include mq($until : tablet){
      @include inuit-font-size($inuit-font-size-h3)
    }
  }
  &form{

    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &form-content{
    background: $brand-col-3;
    padding: $inuit-global-spacing-unit-small;
    display: flex;
    flex-direction: column;
  }
  &input{
    display: block;
    width: 100%;
    margin-bottom:$inuit-global-spacing-unit-small;
    padding: $inuit-global-spacing-unit-tiny;
  }
  &form-select{
    display: block;
    width: 100%;
    margin-bottom:$inuit-global-spacing-unit-small;
    padding: $inuit-global-spacing-unit-tiny;
    background-color: white;
    line-height: 1.3;
  }
  &legend{
    display: block;
    background: $brand-col-4;
    width: 100%;
    padding: $inuit-global-spacing-unit-tiny;
    color: #fff;
    @include inuit-font-size($inuit-font-size-h5, 1);
  }
  &submit{
    transition: background 0.3s ease;
    padding: $inuit-global-spacing-unit-tiny;
    background: $brand-col-4;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
      background: darken($brand-col-4, 5%);
    }
  }
  &control-links{
    @include inuit-font-size($inuit-font-size-h6,1);
    display: flex;
    flex-direction: column;
    padding-top: $inuit-global-spacing-unit-small;
    margin-top:$inuit-global-spacing-unit-small;
    border-top: solid 1px $brand-col-2;
    @include mq($from: desktop){
      flex-direction: row;
    }
  }
  &link{
    transition: background 0.3s ease;
    margin-bottom:$inuit-global-spacing-unit-tiny;
    padding: $inuit-global-spacing-unit-tiny;
    display: block;
    background: $brand-col-1;
    color: $brand-col-3;
    text-decoration: none;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      background: darken($brand-col-1, 10%);
    }
    @include mq($from: desktop){
      margin-left:$inuit-global-spacing-unit-tiny;
      margin-bottom: 0;
    }
  }

}