.customer-activate{
  @extend .o-wrapper;

  @include mq($until: tablet){
    padding-right: $inuit-global-spacing-unit-tiny;
    padding-left:  $inuit-global-spacing-unit-tiny;
  }
}

.customer-activate__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &heading{

    text-transform: uppercase;
    font-weight: 500;
    @include mq($until : tablet){
      @include inuit-font-size($inuit-font-size-h3)
    }
  }
  &info{
    line-height: 1.3;
    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &form{

    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }

  }
  &form-content{
    background: $brand-col-3;
    padding: $inuit-global-spacing-unit-small;
    display: flex;
    flex-direction: column;
  }
  &input{
    display: block;
    width: 100%;
    margin-bottom:$inuit-global-spacing-unit-small;
    padding: $inuit-global-spacing-unit-tiny;
  }
  &submit{
    transition: background 0.3s ease;
    padding: $inuit-global-spacing-unit-tiny;
    background: $brand-col-4;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
      background: darken($brand-col-4, 5%);
    }
  }
  &control-links{
    @include inuit-font-size($inuit-font-size-h6,1);
    display: flex;
    flex-direction: column;
    padding-top: $inuit-global-spacing-unit-small;
    margin-top:$inuit-global-spacing-unit-small;
    border-top: solid 1px $brand-col-2;
    @include mq($from: desktop){
      flex-direction: row;
    }
  }
  &link{
    @extend .c-btn--sub;
  }
  &submit--decline{
    @extend .c-btn--sub;
  }

}
