.featured-collection{
  @extend .o-wrapper;
}

.featured-collection__{
  &header{
    text-align: left;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from: desktop){
      width: 100%;
    }

  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: $inuit-global-spacing-unit-tiny;
    font-weight: 300;
    @include inuit-font-size($inuit-font-size-h1, 1);
    @include mq($until: tablet){
      @include inuit-font-size($inuit-font-size-h5);
      margin-bottom: 0;
    }
  }
  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  &item{
    width: 25%;

  }
}


.featured-collection__item--{
  &layout2 {
    @include mq($from: tablet) {
      width: 50%;
    }
  }
  &layout4{
    @include mq($from : desktop){
      width: 25%;
    }

    @include mq($from : tablet, $until : desktop){
      width: 50%;
    }

  }
}