.footer{

  a{
    color: #fff !important;
  }

}

.footer__{
  &footer-content{
    @extend .o-wrapper;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &:after{
      display: none !important;

    }
  }
  &block{
    @extend .u-1-4;
  }
  &site-info{
    margin-top:$inuit-global-spacing-unit-large;
    background: $brand-col-1;
    text-align: center;
    color: $brand-col-3;
    padding: $inuit-global-spacing-unit;
    padding-bottom: $inuit-global-spacing-unit-large;
    line-height: 1.3;
  }
}