.footer{

  a{
    color: #fff !important;
  }
  @include inuit-font-size($inuit-font-size-h5, 1.5  );
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @include inuit-font-size($inuit-font-size-h6, 1.5);
  }
}

.footer__{
  &footer-content{
    @extend .o-wrapper;
    color: #fff;

    @include mq($from: tablet){
      display: flex;
      justify-content: space-between;
    }
    &:after{
      display: none !important;
    }
  }
  &block{
    @extend .u-1-4---tablet;
    @include mq($until: tablet){
      margin-bottom: $inuit-global-spacing-unit;
    }
  }
  &site-info{
    margin-top:$inuit-global-spacing-unit-large;
    background: $brand-col-1;
    text-align: center;
    color: $brand-col-2;
    padding: $inuit-global-spacing-unit;
    padding-bottom: $inuit-global-spacing-unit-large;
    line-height: 1.3;
  }
}