.icon{

}

.icon{
  .social-links &{
    width: 30px;
    height: 30px;
  }
  .site-control &{
    width: 30px;
    height: 30px;
    fill: $brand-col-1
  }
  .search-results &{
    width: 30px;
    height: 30px;
    fill: $brand-col-1
  }
}