/*
  BLOCK .masthead
 */
.masthead{
  @extend .o-wrapper;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top:$inuit-global-spacing-unit;

  @include mq($from : desktop){
    flex-direction: row;
  }
  @include mq($until : desktop){
    //padding: 0;
  }
}

/*
  BLOCK .masthead__
 */
.masthead__{
  &site-logo{
    width:40%;
  }
  &site-control{
    width: 100%;
    padding: 0 $act-unit-s;
    position: absolute;
    top:0;
    pointer-events: none;
    @include mq($from : desktop){
      position: absolute;
      right: $inuit-global-spacing-unit;
      top:0;

    }
  }
}
