/*
  BLOCK .masthead
 */
.masthead{
  @extend .o-wrapper;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: $act-unit-s;

  @include mq($from : desktop){
    flex-direction: row;
    justify-content: start;
  }
  @include mq($from : desktop){
    margin-top:$act-unit-l;
  }
}

/*
  BLOCK .masthead__
 */
.masthead__{
  &site-logo{
    width:40%;
  }

  &site-control{
    width: 100%;
    padding: 0 $act-unit-s;
    position: absolute;
    top:0;
    pointer-events: none;
    @include mq($from : desktop){
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
  }
}
