.menu-feature{
  color: #fff;
  position: relative;
}

.menu-feature__{

  &heading{
    text-align: center;
    margin-bottom: 0;
    font-weight:500;
    text-transform: uppercase;
    display: none;
  }
  &shop-btn{
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
}

.menu-feature{
  .is-size-2 &{
    padding: $inuit-global-spacing-unit-tiny /2;
    width: 50%;

  }
}

.menu-feature__shop-btn{
  .menu-feature:hover &{
    opacity: 1;
  }
}