.order-table{

}

.order-table__{
  &th{
    text-align: left;
    text-transform: uppercase;
    padding:$inuit-global-spacing-unit-tiny;
    background: $brand-col-1;
    color: #fff;
  }
  &row{
    border-bottom:solid 1px $brand-col-2;
  }
  &data{
    padding:$inuit-global-spacing-unit-tiny;
    padding-top:$inuit-global-spacing-unit-small;
  }
  &table{
    margin-bottom: 0;
  }
}