.page{
  @extend .o-wrapper;
}
[class*=page--]{
  @extend .page
}

.page__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    @include mq($until : tablet){
      @include inuit-font-size($inuit-font-size-h3)
    }
  }
  &content{
    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 75%;
    }
  }
}

.page--{
  &inactive-account{
    margin-bottom: $inuit-global-spacing-unit-huge;
  }
}