/*
  BEM BLOCK .collection-thumb
 */

.page{
  @extend .o-wrapper;
  margin-bottom: $inuit-global-spacing-unit-huge;
  @include mq($until : tablet){
    //padding: 0 !important;
  }
}

/*
  BEM BLOCK MODIFIERS
*/
.page--{
  &inactive-account{

  }
  &lookbooks{
    text-align: center;
    @include mq($until : desktop){
      padding: 0 !important;
    }
  }
}

// BEM BLOCK MODIFIER FALLBACK

[class*=page--]:not([class*=c-page]){
  //@extend .page
}


/*
  BEM ELEMENTS
 */

.page__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    @include mq($until : tablet){
      @include inuit-font-size($inuit-font-size-h3)
    }
  }
  &content{
    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 80%;
    }
    li{
      margin-bottom:$inuit-global-spacing-unit-small;
      line-height: 1.3;
    }
  }
  &contact-form{
    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 75%;
    }
  }
  &form{

    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      //width: 50%;
    }
  }
  &form-content{
    background: $brand-col-3;
    padding: $inuit-global-spacing-unit-small;
    display: flex;
    flex-direction: row;
  }
  &input{
    display: block;
    width: 100%;
    margin-bottom:$inuit-global-spacing-unit-small;
    padding: $inuit-global-spacing-unit-tiny;
  }
  &form-select{
    display: block;
    width: 100%;
    margin-bottom:$inuit-global-spacing-unit-small;
    padding: $inuit-global-spacing-unit-tiny;
    background-color: white;
    line-height: 1.3;
  }
  &legend{
    display: block;
    background: $brand-col-4;
    width: 100%;
    padding: $inuit-global-spacing-unit-tiny;
    color: #fff;
    @include inuit-font-size($inuit-font-size-h5, 1);
  }
  &fieldset{
    width: 50%;

  }
  &submit{
    transition: background 0.3s ease;
    padding: $inuit-global-spacing-unit-tiny;
    background: $brand-col-4;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 100% !important;
    &:hover{
      background: darken($brand-col-4, 5%);
    }
  }
  &contact-form-success{
    @extend .o-notice;
    @extend .o-notice--green;
    color: white;
  }
  &wholesale-info{
    text-align: center;
  }
}

// BEM BLOCK MODIFIER FALLBACK

[class*=page__content--]{
  @extend .page__content;
}

[class*=page__fieldset--]{
  @extend .page__fieldset;
}

.page__fieldset--{
  &about{
    padding-right: $inuit-global-spacing-unit !important;
  }
}

