/*
  BEM BLOCK .collection-thumb
 */

.page{
  @extend .o-wrapper;
  margin-bottom: $inuit-global-spacing-unit-huge;
  @include mq($until : tablet){
    padding: 0 !important;
  }
}

/*
  BEM BLOCK MODIFIERS
*/
.page--{
  &inactive-account{

  }
  &lookbooks{
    text-align: center;
    @include mq($until : desktop){
      padding: 0 !important;
    }

  }
}

// BEM BLOCK MODIFIER FALLBACK

[class*=page--]{
  @extend .page
}


/*
  BEM ELEMENTS
 */

.page__{
  &header{
    text-align: center;
    border-bottom: solid 2px;
    margin:0 auto $inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 50%;
    }
  }
  &heading{
    text-transform: uppercase;
    font-weight: 500;
    @include mq($until : tablet){
      @include inuit-font-size($inuit-font-size-h3)
    }
  }
  &content{
    margin: 0 auto;
    margin-bottom:$inuit-global-spacing-unit;
    @include mq($from : tablet){
      width: 75%;
    }
  }
}

// BEM BLOCK MODIFIER FALLBACK

[class*=page__content--]{
  @extend .page__content;
}
