.pagination{
  display: flex;
  justify-content: center;
  padding: $inuit-global-spacing-unit 0;
}

.pagination{
  > * {
    padding: $inuit-global-spacing-unit-tiny;
    margin: 0;
  }
  .next{
    margin-left: $inuit-global-spacing-unit-tiny;

  }
  .prev{
    margin-right: $inuit-global-spacing-unit-tiny;
  }


}

