.product-gallery{

}

.product-gallery__{
  &featured{
    margin-bottom:$inuit-global-spacing-unit-small;
  }

  &list{
    @extend .o-list-bare;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom:0;
  }
  &item{
    width: 25%;
    padding: $inuit-global-spacing-unit-tiny;
  }
  &img{
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}
