/*
  BEM BLOCK .product-thumb
 */

.product-thumb{
  text-align: left;
  padding: 0 $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small;
  margin-bottom: $inuit-global-spacing-unit;
}

//BEM BLOCK MODIFIER .product-thumb--
.product-thumb--{
    &lookbook {
      padding: 0 $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny;
      margin-bottom: 0;
      position: relative;
      @include mq($from: tablet) {
        padding: $inuit-global-spacing-unit-tiny / 2 $inuit-global-spacing-unit-tiny / 2;
      }
      @include mq($until: mobile) {
        padding: 0 !important;
      }
    }
  }

  //BEM BLOCK MODIFIER FALLBACK
  [class*=product-thumb--]{
    @extend .product-thumb;
  }

  /*
    BEM ELEMENTS .product-thumb__
   */

  .product-thumb__{
    &link{
      display: block;
      width: 100%;
      text-decoration: none;
    }
    &img{
      display: block;
      width:100%;
      height: auto;
      //margin-bottom:$inuit-global-spacing-unit-small;
    }
    &heading{
      font-weight: 300;
      margin-bottom: 0;
      @include inuit-font-size($inuit-font-size-h5, 1);
    }
    &sku{
      @include inuit-font-size($inuit-font-size-h6, 1);
      font-weight: 500;
      margin-bottom: $inuit-global-spacing-unit-tiny;
      display: none;
    }
    &label{
      display: block;
      position: absolute;
      text-transform: uppercase;
      padding: $inuit-global-spacing-unit-tiny ;
      line-height: 1;
      @include mq($from : desktop){
        @include inuit-font-size($inuit-font-size-h6, 1);

      }
    }
    &price{
      font-weight: 500;
    }
    &add-form{
      padding:$inuit-global-spacing-unit-small 0;
    }
    &add-btn{
      color: $brand-col-1;
      background-color: transparent;
      font-family: $acs-font-family-serif;
      border: solid 1px $brand-col-1;
      padding:$inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
      @include inuit-font-size($inuit-font-size-h5, 1);
      &:hover:not([disabled]){
        color: darken($brand-col-1, 10%);
        border: solid 1px darken($brand-col-1, 10%);
      }
      &[disabled]{
        opacity: 0.4;
      }
    }
  }

  //BEM ELEMENT MODIFIER

  .product-thumb__sku--{
    &lookbook{
      background: rgba(#fff, .45);
      position: absolute;
      padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny 0;
      bottom: 50px;
      width: 30%;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .product-thumb__info--{
    &lookbook{
      position: absolute;
      background: rgba(#fff, .45);
      bottom: 0;
      padding: 0 $inuit-global-spacing-unit-tiny;
      width: 30%;
      height: 50px;
      text-align: left;
    }
  }

  .product-thumb__heading--{
    &lookbook{
      display: none;
    }
  }

  .product-thumb__link--{
    &image{
      position: relative;
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }
    &heading{

    }
    &details{
      color: $brand-col-2;
    }
  }
.product-thumb__label--{
  &sold-out{
    left: 0;
    top: 0;
    background: $red;
    color: white;
    opacity: 0.5;
  }

  &reminder{
    background: $brand-col-4;
    color: white;
    opacity: 1;
    bottom:0;
    width: 100%;
    cursor: pointer;
    display: none;
    text-align: center;

    @include mq($from : mobile){
      padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-tiny / 2;
    }
    @include mq($from : desktop){
      @include inuit-font-size($inuit-font-size-h6, 1);
      padding: $inuit-global-spacing-unit-tiny / 2;
    }

  }
}

  //BEM ELEMENT MODIFIER FALLBACK

  [class*=product-thumb__link--]{
    @extend .product-thumb__link;
  }

  [class*=product-thumb__img--]{
    @extend .product-thumb__img;
  }

  [class*=product-thumb__heading--]{
    @extend .product-thumb__heading;
  }

  [class*=product-thumb__sku--]{
    @extend .product-thumb__sku;
  }

[class*=product-thumb__label--]{
  @extend .product-thumb__label;
}


  /*
    CONTEXT SELECTORS
   */

  .product-thumb{
    .featured-collection__item:nth-child(odd) &{
      padding-left:0;
    }
    .featured-collection__item:nth-child(even) &{
      padding-right:0;
    }
  }

.product-thumb__label--reminder{
  .product-thumb:hover &{
    display: block;
  }
}



