.search-site{
  width: 75%;
  margin: 0 auto;
  background: $brand-col-3;
  padding: $inuit-global-spacing-unit-small;
}

.search-site__{
  &label{
    display: none;
  }
  &form{
    display: flex;
  }
  &input{
    display: block;
    width: 100%;
    margin-bottom:0;
    padding: $inuit-global-spacing-unit-tiny;
    @include inuit-font-size($inuit-font-size-h4,1);
    &:last-child{
      margin-bottom: 0;
    }
  }
  &control{
    margin-left: $inuit-global-spacing-unit-small;
  }

}
.search-site__control--{
  &close{
    @extend .search-site__control;
  }
  &search{
    @extend .search-site__control;
  }
}