.shop-btn{
  background-color: #fff;
  line-height: 1;
  display: inline-block;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny;
  margin: $inuit-global-spacing-unit-small 0;
  @include inuit-font-size($inuit-font-size-h5, 1);
  @include mq($from : tablet){
    @include inuit-font-size($inuit-font-size-h3, 1);
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
    //display: none;
  }
  @include mq($from : desktop ){
    @include inuit-font-size($inuit-font-size-h3, 1);
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
    //display: none;
    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
      @include inuit-font-size($inuit-font-size-h2, 1);
      padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
    }
  }
}

/*
  BEM MODIFIERS FALLBACKS
 */

//.shop-btn-- is a type of .shop-btn but not something__shop-btn--
[class*=shop-btn--]:not([class*=__shop-btn]){
  @extend .shop-btn;
}

/*
  CONTEXT SELECTOR
 */


.shop-btn{

  //Remove the bottom margin if the .shop-btn is a child of [class*=collection-thumb__shop-btn]
  [class*=collection-thumb__shop-btn] &{
    margin-bottom: 0 !important;
  }

  //
  .collection-thumb__shop-btn--cart-promo &{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }

  //
  .collection-thumb__shop-btn--lookbook &{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }

}

/*
  BEM MODIFIERS
 */

//.shop-btn-- controls the background color
.shop-btn--{

  &white{
    background-color: white !important;
  }

  /*
  Brand pantone colours GREY
   */
  //&p431{
  //  background-color: $p431 !important;
  //}
  //&p429{
  //  background-color: $p429 !important;
  //}
  //&p427{
  //  background-color: $p427 !important;
  //}
  //
  ///*
  //Brand pantone colours PEACHES
  // */
  //&p4735{
  //  background-color: $p4735 !important;
  //}
  //&p489{
  //  background-color: $p489 !important;
  //}
  //&p475{
  //  background-color: $p475 !important;
  //}
  //
  ///*
  //Brand pantone colours AQUAS
  // */
  //
  //&p7466{
  //  background-color: $p7466 !important;
  //}
  //&p318{
  //  background-color: $p318 !important;
  //}

}

.shop-btn__text--{
  &white{
    color: white;
  }

  /*
  Brand pantone colours GREY
   */
  //&p431{
  //  color: $p431;
  //}
  //&p429{
  //  color: $p429;
  //}
  //&p427{
  //  color: $p427;
  //}

}

[class*=shop-btn--]{
  .menu-feature__shop-btn &{
    @include inuit-font-size($inuit-font-size-h6,1);
  }
}


