.shop-btn{
  background: #fff;
  line-height: 1;
  display: inline-block;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-tiny;
  margin: $inuit-global-spacing-unit-small 0;
  @include inuit-font-size($inuit-font-size-h5, 1);
  @include mq($from : tablet){
    @include inuit-font-size($inuit-font-size-h4, 1);
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
  }
}

.shop-btn{
  .collection-thumb__shop-btn &{
    margin-bottom: 0 !important;
  }
}