/*
  BLOCK .site-control
 */
.site-control{
  @include inuit-font-size($inuit-font-size-h5, 1)
}
/*
  BLOCK .site-control__
 */
.site-control__{
  &list{
    @extend .o-list-bare;
    @extend .o-list-inline;
  }
  &item{
    @extend .o-list-inline__item;
    margin-left: $inuit-global-spacing-unit-small;
  }
  &link{
    text-decoration: none;

  }
  &search{
    &[data-state=off]{
      display: none;
    }
  }
}


/*
  BEM FREE ELEMENTS .site-control
 */
.site-control{
  a{
    text-decoration: none;
  }
}

/*
  BEM [class*=] @extends
 */

[class*='site-control__item--']{
  @extend .site-control__item;
}

.site-control__item--{
  &menu{
    @include mq($from : desktop ){
      display: none;
    }
  }
}