/*
  BLOCK .site
   wrapper for the site that contain element such as:-
   __masthead
   __hero
   __main
   __subsidiary
   __before-footer
   __footer
 */
.site{
    display: block;
}

/*
  ELEMENTS .site__
 */

.site__{
    &band{
        margin-bottom:$inuit-global-spacing-unit;
        padding-top:$inuit-global-spacing-unit;
        @include mq($from : wide){
            margin-bottom:$inuit-global-spacing-unit-large;
            padding-top:$inuit-global-spacing-unit-large;
        }
    }
    &masthead{
    }
    &hero{
       @extend .site__band;
        padding-top: 0;
        margin-bottom: $inuit-global-spacing-unit-large;
    }
    &featured-collection{
        @extend .site__band;
    }
    &content-list{
        @extend .site__band;
        background: $brand-col-2;
        padding-top: 0;
        margin-bottom: 0;
    }
    &banner-list{
        @extend .site__band;
        background: $brand-col-3;
    }
    &footer{
        @extend .site__band;
        background: $brand-col-2;
        margin-bottom: 0;

    }
}

[class*=site__]:last-child{
    .main &{
        margin-bottom: 0 !important;
    }
}
