/*
  BLOCK .site-control
 */
.site-control{
  @include inuit-font-size($inuit-font-size-h5, 1);
  font-family: $acs-font-family-serif;
}
/*
  BLOCK .site-control__
 */
.site-control__{
  &list{
    @extend .o-list-bare;
    //@extend .o-list-inline;

    display: flex;

    @include mq($from : desktop){
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }


  }
  &item{
    //@extend .o-list-inline__item;
    margin: 0 ;
    display: block;
    @include inuit-font-size($inuit-font-size-h5);
    position: relative;

    &:first-child{
      margin-left:0;
    }
    &:nth-child(2){
      @include mq($from : desktop){
        margin-left:0;
      }
    }

    &:after{
      content: '';
      width: 1px;
      height: 50%;
      display: none;
      background: $brand-col-1;
      position: absolute;
      right: 0;
      top: 25%;

    }

    @include mq($from : tablet){
      &:after{
        display: block;
      }
    }

  }
  &link{
    text-decoration: none;
    text-transform: lowercase;
    padding: $inuit-global-spacing-unit-tiny / 2 $inuit-global-spacing-unit-tiny;
    display: block;
  @include inuit-font-size($inuit-font-size-h5, 1);
    @include mq($until : tablet){
      flex-direction: column-reverse;
      align-items: center;
      display: flex;
    }
  }
  &search-site{
    transition: opacity .3s ease;
    z-index: 999;
    position: fixed;
    width: 100%;
    left: 0;
    &[data-state=off]{
      left: -100%;
      display: block;
      opacity: 0;
    }
    
    &[data-state=on]{
      opacity: 1;
      display: block;
    }
  }

  &cart-count{
    @include mq($until : tablet){
      display: none;
    }
  }
}


/*
  BEM FREE ELEMENTS .site-control
 */
.site-control{
  a{
    text-decoration: none;
    white-space: nowrap;
  }
}

/*
  BEM [class*=] @extends
 */

[class*='site-control__item--']{
  @extend .site-control__item;
}

.site-control__item--{
  &menu{
     @include mq($from : desktop ){
       display: none;
     }
   }
  &customer{
    @extend .site-control__item;
    @include mq($until : tablet ){
      display: inline-flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.site-control__link{
  .site-control__item:last-child &{
    padding-right: 0;
  }
}

.site-control__item:last-child:after{
  display: none !important;
}