<div class="shopping-cart">

  <div class="shopping-cart__header">
    <h1 class="shopping-cart__heading" >{{ 'cart.general.title' | t }}</h1>
  </div>
{% if cart.item_count > 0 %}


  <form class="shopping-cart__form" action="/cart" method="post" novalidate>
  <div class="shopping-cart__cart-table">
    {% include 'cart-table' %}
  </div>
    <div class="shopping-cart__cart-checkout">
     {% include "cart-checkout" %}
    </div>




  </form>
{% else %}
  {% include 'cart-empty' %}
{% endif %}
</div>