<div class="c-shopping-cart">

  <div class="c-shopping-cart__header">
    <h1 class="c-shopping-cart__heading" >{{ 'cart.general.title' | t }}</h1>
  </div>
{% if cart.item_count > 0 %}

  <form class="c-shopping-cart__form" action="/cart" method="post" novalidate>
  <div class="shopping-cart__cart-table">
    {% comment %}
    {% if customer.tags contains "platinum" %}
    <!-- Bold: Quantity Breaks - Cart Savings Banner -->
    <div id="shappify-qty-cart-msg"></div>
    <!-- // end Bold code -->
    {% endif %}
    {% endcomment %}

    {% include 'cart-table' %}

    {% comment %}
    <div class="c-shopping-cart__cart-promo">
    {% include 'cart-promo' %}
    </div>
    {% endcomment %}
  </div>
    <div class="c-shopping-cart__cart-checkout">
     {% include "cart-checkout" %}
    </div>




  </form>
{% else %}
  <div class="c-shopping-cart__notice--empty">
  {% include 'cart-empty' %}
  </div>
{% endif %}
</div>
<div id="cbb-also-bought-box"></div>
