<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      some link test main menu
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="c-site-map">
        <section  class="c-site-map__section--pages">
          {% for link in linklists.bibado-pages.links %}
            {{ link.title }}
          {% endfor %}
        </section>
        <section  class="c-site-map__section--collection">
          {% for link in linklists.bibado-collection.links %}
            {{ link.title }}
          {% endfor %}
        </section>
        <section  class="c-site-map__section--product">
          {% for link in linklists.bibado-product.links %}
            {{ link.title }}
          {% endfor %}
        </section>
      </div>


    </div>
  </div>
</div>