<div class="page-width c-page is-page-width-1600">
  <div class="grid">
      <div class="grid__item">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
      <div class="srs_slider" id="srs_template_2656"></div>

    </div>
  </div>
</div>
