{% paginate search.results by 48 %}
<div class="search-results">
  <header class="search-results__header" role="banner">
    <h1 class="search-results__heading">
      {% if search.performed %}
        {% if search.results_count == 0 %}
          {{ 'general.search.no_results_html' | t: terms: search.terms | replace : '*', ' ' | strip }}
        {% else %}
          {{ 'general.search.results_for_html' | t: terms: search.terms | replace : '*', ' ' | strip }}
        {% endif %}
      {% else %}
        {{ 'general.search.title' | t }}
      {% endif %}
    </h1>
  </header>
<div class="search-results__search-site">
  {% include "search-site" %}
</div>

{% if search.performed %}
  <ul class="collection__list">
    {% for product in search.results %}
    {% for variant in product.variants %}
      <!-- inc bold-product -->
      {% include 'bold-product' with product, hide_action: 'skip' %}
    {% if variant.available %}
      <li class="collection__item--layout4">
        {%  comment %}
        {% include 'product-thumb' %}
        {% endcomment %}
        {% include 'variant-thumb' %}
      </li>
      {% endif %}
    {%  endfor %}
    {%  endfor %}
  </ul>



    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}
</div>
{% endpaginate %}
