<div id="BlogTagFilter" class="c-blog-filters">
  <h5 class="c-blog-filters__headings">Post Filters</h5>
  <ul class="c-blog-filters__list">
    {% for tag in blog.all_tags %}
    <li class="c-blog-filters__item">
      <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="c-blog-filters__link {% if current_tags contains tag %}is-selected{% endif %} ">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
