{% comment %}
Cart empty state
{% endcomment %}
<div class="supports-cookies">
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
</div>

{% comment %}
Cart no cookies state
---------------------
Browser cookies are required to use the cart. If cookies aren't enabled in the
browser a message is displayed prompting the user to enable them.
{% endcomment %}
<div class="supports-no-cookies">
  <p>{{ 'cart.general.cookies_required' | t }}</p>
</div>