<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assign zp_use_favicon = true %}{% include 'header-scripts.zipifypages' %}
  </head>
  <body>
    {% include 'page-content.zipifypages' %}
    {% include 'page-footer.zipifypages' %}
  </body>
</html>