<div class="masthead">
  <div class="masthead__site-logo">
    <!-- SITE LOGO -->
  {% include 'site-logo' %}
</div><!-- .masthead__site-logo -->
  <div class="masthead__site-control">
{% include 'site-controls' %}
  </div><!-- .masthead__controls -->
</div><!-- .masthead -->
