<nav id="primaryNavigation" role="navigation" class="c-nav-menu--main nav-main" data-container="mobileNav" data-state="off">
  <div  class="c-nav-menu__controls nav-main__header">
    <span class="nav-main__close" data-control="mobileNav" data-state="off">
    {% include 'icon-close' %}
  </span>
  </div>

  <ul class="nav-main__list">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {%- assign mega = '' -%}
      {%- capture  megaLinks -%}
      {%- for list in linklists -%}
        {%- if list.handle contains child_list_handle -%}
         {{ list.handle }},
        {%- endif -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- assign megaLinks = megaLinks | split: ','  | size -%}
      <!-- megaLinks {{megaLinks | size }} -->
      {% if megaLinks  > 0 %}
        <!-- inc megaLinks -->
        {% include "nav-main-mega" %}
        {%  elsif menus[child_list_handle].links != blank %}
        <!-- inc drop -->
        {% include "nav-main-dropdown" %}
      {% else %}
        <!-- inc  -->
        {% include "nav-main-single" %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
