<li class="c-nav-menu__item--main{% if link.active %} is-current{% endif %}">
  <a href="{{ link.url }}" class="c-nav-menu__link--main"><span class="c-nav-menu__link-label">{{ link.title }}</span></a>
</li>
