{% assign menus = 'style,plating,colour,decoration' | split: ',' %}
<li class="nav-main__item nav-main__item--has-submenu{% if link.active %}  is-current{% endif %}">
  <a href="{{ link.url }}" class="nav-main__link">
    <span class="nav-main__link-label">{{ link.title }}</span>
    <span class="nav-main__arrow" {% include 'icon-arrow-down' %}</span>
  </a>
  <div class="nav-main__mega">
    {% include 'mega-menu' %}
    {% include 'menu-feature' %}
  </div>
</li>