{% if section.settings.show_payment_icons %}
  {% unless shop.enabled_payment_types == empty %}
  {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

  <ul class="payment-icons__list">
    {% for type in shop.enabled_payment_types %}
      {% if payment_icons_available contains type %}
        <li class="payment-icons__item">
          {%- assign icon_name = type | prepend: 'icon-' -%}
          {% include icon_name %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endunless %}
{% endif %}