{% if section.settings.show_share_buttons %}
  <div class="rte">
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  </div>
{% endif %}



{% unless product.empty? %}
<script type="application/json" data-product-json >
  {% include 'bold-product', output: 'json' %}
</script>
{% endunless %}