<div class="l-subsidiary--index">
  <div class="l-subsidiary__list--index">
{% assign feature = pages.an-all-in-one-solution %}
    <div class="l-subsidiary__item">
      {% include "feature-page" %}
    </div>
    {% assign feature = pages.child-safe-cleaner %}
    <div class="l-subsidiary__item">
      {% include "feature-page" %}
    </div>
    {% assign feature = pages.asthma %}
    <div class="l-subsidiary__item">
      {% include "feature-page" %}
    </div>
    {% assign feature = pages.eco-friendly %}
    <div class="l-subsidiary__item">
      {% include "feature-page" %}
    </div>
</div>
</div>

