
.hero__carousel {
  width: 100%;
  margin: 0 auto;
}

.hero__cell {
  width: 100%;
  height: auto;
}

.hero__img{
  width: 100%;
  height: auto;
}

.flickity-viewport {
  height: 100%;
}

.flickity-prev-next-button{
  display: none;
}