/*
 FUCTIONS
 */

@import "functions";
/*
 SETTINGS
 */
@import "var/settings.container";
@import "var/settings.article";
@import "var/settings.fonts";
@import "var/settings.colours";
@import "var/settings.defaults";
@import "var/settings.shadows";
@import "var/settings.headings";
@import "var/settings.widths";

/*
 INUIT FRAME WORK
 */

@import "inuit";

/*
  UTILITIES
  */

@import "mixins";
@import "helpers";

/*
  VENDOR
  */

//@import "vendor/animate";
//@import "vendor/flickity";
//@import "vendor/remodal";
//@import "vendor/remodal-default-theme";

/*
  BASE - Styles for HTML elements eg body ul etc
 */
@import "base";

/*
  TYPOGRAPHY - Styles for HTML elements eg body ul etc
 */
@import "typography";


/*
  OTHER
 */
@import "accessibility";
@import "placeholders/off-page";
@import "placeholders/h";



/*
  BEM - BLOCK MODULES
 */

@import "modules/site";
@import "modules/masthead";
@import "modules/site-logo";
@import "modules/site-control";
@import "modules/nav-main";
@import "modules/mega-menu";
@import "modules/menu-feature";
@import "modules/hero";
@import "modules/collection";
@import "modules/featured-collection";
@import "modules/collection-list";
@import "modules/content-list";
@import "modules/banner-list";
@import "modules/product-thumb";
@import "modules/collection-thumb";
@import "modules/page-thumb";
@import "modules/banner";
@import "modules/footer";
@import "modules/info-links";
@import "modules/social-links";
@import "modules/address";
@import "modules/icon";
@import "modules/pagination";
@import "modules/filter-menu";
@import "modules/product";
@import "modules/product-gallery";
@import "modules/add-form";
@import "modules/share-links";
@import "modules/variant";
@import "modules/shopping-cart";
@import "modules/cart-table";
@import "modules/cart-checkout";
@import "modules/customer-login";
@import "modules/customer-register";
@import "modules/customer-recover";
@import "modules/customer-reset";
@import "modules/customer-account";
@import "modules/customer-history";
@import "modules/customer-account-address";
@import "modules/customer-addresses";
@import "modules/customer-address";
@import "modules/customer-address-list";
@import "modules/default-address";
@import "modules/order-table";



