.article__tags{
  display: none !important;
}

.c-blog-filters{
}


[class*=c-drawer__control-icon]{
  @extend .c-drawer__control-icon;
}
.c-drawer__control{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-drawer__control-icon{
  @include act-font-size($inuit-font-size-h3, 1);
  padding: 0 $act-unit-t;
}

.c-drawer__control[data-state=off]{
  .c-drawer__control-icon--close{
    display: none;
  }
}

.c-drawer__control[data-state=on]{
  .c-drawer__control-icon--open{
    display: none;
  }
}

div.product-single__meta {

  max-width: 100%;

}
.product-single__title{
  font-size: 1.2em;
  @include mq($from: tablet){
    font-size: 1.4em;
  }
}

p.tex {

  display: block;
  width: auto !important;
  height: auto !important;

}

div.product-single__meta > div:nth-child(2) {
  width:auto;
 // max-width: 400px;
}
#SingleOptionSelector-0{
  width:auto;
}

.product-form__item{
  max-width: 40%;
}
#AddToCart-product-template{
  padding : 10px
}

.index-section h2{
  display: none;
  @include mq($from:tablet){
    display: block;
  }
}

.quotes-wrapper .slick-dots {
  margin-top: 0 !important;
}
