/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');
@import url('var/_settings.fonts.scss');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ BASE ================*/
@import url('base/_body.scss');


/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');

.filter-group .selected a {
   font-weight: bold;
 }

.filter-group {
  position: relative;
  padding-bottom: 24px;
}

.filter-group .filter-clear {
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 10px;
  padding: 0 5px;
  background-color: #EEE;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
}

.filter-group .filter-clear:hover {
  background-color: #DDD;
}

.filter-group .collection-container
{
  overflow: hidden;
  position: relative;
}

.filter-group .collection-count
{
  position: absolute;
  right: 0px;
}

.filter-group h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  padding-right: 45px;
}

.filter-group ul {
  display: block;
  margin: 0;
  padding: 0;
}

.filter-group ul li {
  display: block;
}

.filter-group li a {
  display: inline-block;
  margin-left: 6px;
  text-decoration: none;
  padding: 0;
  font-size: 13px;
  margin-right: 20px;
}

.sort-selector {
  margin: 0 10px;
}

i.check-icon {
  background-image: url({{ 'checkbox-black-retina.png' | asset_url }});
  background-position: 0px -176px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-top: 0px;
  vertical-align: text-top;
  width: 16px;
}

.selected i.check-icon {
  background-position: 0px -144px;
}


@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  i.check-icon {
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 16px 96px;
    background-position: 0px -30px;
  }

  .selected i.check-icon {
    background-position: 0px 0px;
  }
}

.filter-menu .has_group_selected {
  display: inherit;
}

.filter-menu {
  margin-bottom: 20px;
}

//Filter menu Accordination Headers

.filter-menu .filter-group ul, .filter-menu .filter-group .filter-clear {
  display:none;
}

.filter-menu .has_group_selected ul  {
  display:block;
}

.filter-menu .has_group_selected .filter-clear, .filter-menu .refine-header .filter-clear {
  display: inline;
}

.filter-group h4 {
  cursor: pointer;
}
.filter-menu__title--remove {
  cursor: default !important;
}

.filter-group h4:after {
  content: "\002B ";
  font-weight: 900;
  margin-right: 20px;
  font-size: 22px;
  right: 0;
  top: -5px;
  position: absolute;
}

.filter-group.expanded h4:after {
  content: "\2212 ";
}

.has_group_selected h4:after, .refine-header h4:after {
  content: none;
}