{% paginate customer.addresses by 4 %}
<div class="customer-addresses">
  <header class="customer-addresses__header" role="banner">
    <h1 class="customer-addresses__heading">{{ 'customer.account.title' | t }}</h1>
  </header>
  <div class="customer-addresses__controls">
    <a  href="#" class="customer-addresses__control address-new-toggle">{{ 'customer.addresses.add_new' | t }}</a>
    <a class="customer-addresses__control" href="/account">{{ 'customer.account.return' | t }}</a>
  </div>

  <div id="AddressNewForm" class="hide customer-addresses__new-address-form">
      {% include 'new-address-form' %}
  </div>

  <div class="customer-addresses__section">
    <div class="customer-address-list">
      <div class="customer-address-list__header">
        <h2 class="customer-address-list__heading">{{ 'customer.addresses.title' | t }}</h2>
      </div>
  <div class="customer-address-list__content">

  {% for address in customer.addresses %}

  {% include 'customer-address' %}

  {% endfor %}
      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>

{% endpaginate %}
