/*
 * TYPOGRAPHY SETTINGS
 */

/*
 * TEMPLATE @font-face
 */
//@font-face {
//  font-family: 'sio_slab_mediumregular';
//  src: url('assets/fonts/sio-slab_medium-webfont.woff2') format('woff2'),
//  url('assets/fonts/sio-slab_medium-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

/*
 * GLOBAL FONTS
 */
$acs-font-family-sans : "baskerville-urw", sans-serif;
$acs-font-family-heading : "baskerville-urw", sans-serif;

$acs-font-family-sans: "effra",sans-serif;
$acs-font-family-serif: "baskerville-urw", serif;
$acs-font-family-alt: "co-text",sans-serif;
$acs-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$acs-font-family-headings: "effra", sans-serif;;

