/*
 * TYPOGRAPHY SETTINGS
 */

/*
 * TEMPLATE @font-face
 */
//@font-face {
//  font-family: 'sio_slab_mediumregular';
//  src: url('assets/fonts/sio-slab_medium-webfont.woff2') format('woff2'),
//  url('assets/fonts/sio-slab_medium-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

/*
 * GLOBAL FONTS
 */
$global-font-family : source-sans-pro, sans-serif;
$global-font-family-heading : source-sans-pro, sans-serif;

/*
 *
 */

$act-font-family-sans: aktiv-grotesk, Arial, "Helvetica Neue", Helvetica, sans-serif;
$act-font-family-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$act-font-family-alt: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$act-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$act-font-family-headings: $act-font-family-sans;

