/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #f3f3f4;

$brand-col-1 : #3b3b3c;
$brand-col-2 : #a7a9ac;
$brand-col-3 : #003442;
$brand-col-4 : #ffcb08;

