/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

/*
Brand pantone colours GREYS
 */
$p5655 : #b2bcaf;
$p11   : #555559;
$p7 : #999899;

/*
Brand pantone colours PEACHES
 */
$p474 : #f4c6a6;

/*
Brand pantone colours AQUAS
 */
//$p7466 : #00adbb;
//$p318 : #8bd3d9;

/*
Branded control colors
 */
$red : #FF0D00;
$amber : #FFAD00;
$green : #00B116;


$col-act-gray-xxlight : blue;

$brand-col-1 : $p5655;
$brand-col-2 : $p11;
$brand-col-3 : $p7;

$brand-col-4 : $p474;

