/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

/*
Brand pantone colours GREYS
 */
$p431 : #5d6770;
$p429 : #a4aaad;
$p427 : #d1d3d3;

/*
Brand pantone colours PEACHES
 */
$p4735 : #c4a392;
$p489 : #f0c1b2;
$p475 : #f4cfb3;

/*
Brand pantone colours AQUAS
 */
$p7466 : #00adbb;
$p318 : #8bd3d9;

/*
Branded control colors
 */
$red : #FF0D00;
$amber : #FFAD00;
$green : #00B116;

$bbd-green: #8bc981;
$bbd-red: #ef483e;


$col-act-gray-xxlight : blue;

$brand-col-1 : $bbd-green;
$brand-col-2 : $bbd-red;
$brand-col-3 : $p427;
$brand-col-4 : $p7466;
$brand-col-5 : $bbd-green;
$brand-col-6 : $bbd-red;
$brand-col-7 : $p427;
$brand-col-8 : $p7466;
$brand-col-9 : $bbd-green;

