.o-notice{
  text-align: center;
  padding: $inuit-global-spacing-unit-tiny;
  margin-bottom: $inuit-global-spacing-unit;
  background:$brand-col-3;
}
[class*=o-notice--]{
  @extend .o-notice;
}

.o-notice{
  & > *:first-child {
    text-align: left;
    display: block;
  }
  & > *:first-child > *:first-child, .o-notice__heading {
    margin-bottom: 0;
    background: darken($brand-col-3, 10%);
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding:$inuit-global-spacing-unit-tiny;
  }
  & > *:last-child > *:last-child, .o-notice__content > *:last-child{
    margin-bottom: 0;
  }
}

.o-notice--{
  &amber {
    background: $amber;
    & > *:first-child > *:first-child, .o-notice__heading {

      background: darken($amber, 10%);

    }
    & > *:last-child > *:last-child, .o-notice__content > *:last-child {
      margin-bottom: 0;
    }
  }
}