.o-notice{
  text-align: center;
  padding: $inuit-global-spacing-unit-tiny;
  margin-bottom: $inuit-global-spacing-unit;
  background:$brand-col-3;
}
[class*=o-notice--]{
  @extend .o-notice;
}

.o-notice{
  & > *:first-child {
    text-align: left;
    display: block;
  }

  & > *:last-child > *:last-child, .o-notice__content > *:last-child{
    margin-bottom: 0;
  }
}

.o-notice--{
  &amber {
    background: $amber;
    & > *:last-child > *:last-child, .o-notice__content > *:last-child {
      margin-bottom: 0;
    }
  }
  &green {
    background: $green;
    & > *:last-child > *:last-child, .o-notice__content > *:last-child {
      margin-bottom: 0;
    }
  }
  &headed{
    & > *:first-child > *:first-child, .o-notice__heading {
      margin-bottom: 0;
      background: darken($brand-col-3, 10%);
      color: #fff;
      display: inline-block;
      line-height: 1;
      padding:$inuit-global-spacing-unit-tiny;
      background: rgba(#000, 0.2);
    }
  }
  &centered{
    & > *:first-child {
      text-align: center !important;
      display: block;
    }
  }
}