/*
  BEM BLOCK l-product
 */

.l-product {
  display: block;
  @include mq($from: desktop){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*
  BEM BLOCK MODIFIER l-product--
 */

.l-product-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-product--

[class*=l-product--

]
{
  @extend .l-product;
}

/*
  BEM ELEMENTS .l-product__
 */

.l-product__ {
  &header {
    @include mq($from: desktop){
    display: block;
      margin-bottom: $act-unit;
    grid-column: 2 / 3;
      text-align: left;
      padding-left: $act-unit;
    }
  }

  &heading {
    display: block;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 0;
    @include mq($from: desktop){
      text-align: left;
    }
    //display: none !important;
  }
  &product-gallery{
    @include mq($from: desktop){
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      padding-right: $act-unit;
    }
  }
  &product-info{
    @include mq($from: desktop){
      grid-column: 2 / 3;
      padding-left: $act-unit;
    }
  }
  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-product--

[class*=l-product__header--

]
{
  @extend .l-product__header;
}
