<div class="collection-list">
  <div class="collection-list__header">
{% if section.settings.title != blank %}
  <h2 class="collection-list__heading">{{ section.settings.title | escape }}</h2>
{% endif %}
  </div>

  <ul class="collection-list__list">
    {% for block in section.blocks limit: section.blocks.size %}
      <li class="collection-list__item">
        {% include "collection-thumb" %}
      </li>
    {% endfor %}
  </ul>


{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}
</div>

{% schema %}
  {
    "name": "Collection list",
    "class": "site__collection-list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection List",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "label": "Collection Title",
            "id": "collection_title",
            "type": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
