<div class="featured-collection">
{% if section.settings.title != blank %}
  <div class="featured-collection__header">
    <h2 class="featured-collection__heading" >{{ section.settings.title | escape }}</h2>
  </div>
{% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="featured-collection__content">
    <ul class="featured-collection__list">
      {% for product in collection.products limit: 6 %}
        {% include 'bold-product' with product, hide_action: 'skip' %}
      <li class="featured-collection__item--layout{{ section.settings.col_layout }}  ">
        {% include 'product-thumb' %}
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% schema %}
  {
    "name": "Featured collection",
    "class": "site__featured-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "col_layout",
        "label": "Layout",
        "default": "4",
        "options": [
        {
        "value": "4",
        "label": "4  Columns"
        },
        {
        "value": "2",
        "label": "2  Columns"
        }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
