
<footer class="l-site__footer">
  <div class="c-footer">

    <div class="c-footer__info-links">
      <div class="c-nav-menu--info-links">
        {%- assign navLinkList = section.settings.footer_linklist -%}
        {% include "nav-menu" %}
      </div>
    </div>

    <div class="c-footer__site-info--copyright">
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small><br>
    </div>

    <div class="c-footer__footer-content">


      <div class="c-footer__block u-mtm">
        <div class="c-footer__logo">
          {% assign icon = 'icm-text-logo' %}
          {% include 'svg-icon'%}
        </div>
      </div>

      <div class="c-footer__block">
        <div class="address">
        {% include "address" %}
        </div>
      </div>



      {% comment %}
      <div class="c-footer__block">
        <div class="social-links">
          <h4 class="social-links__heading">Follow Us</h4>
          <div class="social-links__content">
            {% include "social-links" %}
            {% include "payment-icon-list" %}
          </div>
        </div>
      </div>
      {% endcomment %}

    </div>

    <div class="c-footer__site-info--ac">
      <small>Website design and development <a href="//ambercouch.co.uk">AmberCouch</a></small>
    </div>





  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
