<div data-section-id="{{ section.id }}" data-section-type="promotion">
<div class="hero">
  <div class="main-carousel">
    <div class="carousel-cell">SLIDE 1</div>
    <div class="carousel-cell">SLIDE 2</div>
    <div class="carousel-cell">SLIDE 3</div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slider",
    "class": "site__hero",
    "settings": [

    ],
    "presets": [
      {
        "name": "Hero Slider",
        "category": "Promotions"
      }
    ]
  }
{% endschema %}
