<div data-section-id="{{ section.id }}" data-section-type="promotion">
<div class="hero">
  <div class="hero__carousel">
    <div class="hero__cell">
      <img src="{{ "slide1.jpg" | asset_url }}" alt="" class="slide__img">
    </div>
    <div class="hero__cell">
      <img src="{{ "slide2.jpg" | asset_url }}" alt="" class="slide__img">
    </div>
    <div class="hero__cell">
      <img src="{{ "slide3.jpg" | asset_url }}" alt="" class="slide__img">
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slider",
    "class": "site__hero",
    "settings": [

    ],
    "presets": [
      {
        "name": "Hero Slider",
        "category": "Promotions"
      }
    ]
  }
{% endschema %}
