<div data-section-id="{{ section.id }}" data-section-type="promotion">
<div class="hero">
  <div class="hero__carousel">
    {% for block in section.blocks limit: section.blocks.size %}
    <div class="hero__cell">
      <img src="{{ block.settings.hero_image | img_url: '1270x465' }}" alt="" class="hero__img">
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slider",
    "class": "site__hero",
    "settings": [

    ],
    "blocks": [
{
"type": "hero",
"name": "Hero Slide",
"settings": [
{
"label": "Hero Image",
"id": "hero_image",
"type": "image_picker",
"info": "Image size should be 1270px by 465px"
},

{
"label": "Banner Url",
"id": "banner_url",
"type": "text",
"info": "Link to a url eg. http://google.com"
}
]
}
    ],
    "presets": [
      {
        "name": "Hero Slider",
        "category": "Promotions"
      }
    ]
  }
{% endschema %}
