.u-grid{
  @include mq($from: desktop){
    display: grid;
  }
}

.u-gtc1-2{
  grid-template-columns: 1fr 1fr;
}

.u-gtc1-3{
  grid-template-columns: 1fr 1fr 1fr;
}

.u-gtc1-3{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.u-grs1{
  grid-row-start: 1;
}
.u-grs2{
  grid-row-start: 2;
}
.u-grs3{
  grid-row-start: 3;
}
.u-grs4{
  grid-row-start: 4;
}
.u-grs5{
  grid-row-start: 5;
}

.u-gre1{
  grid-row-end: 1;
}
.u-gre2{
  grid-row-end: 2;
}
.u-gre3{
  grid-row-end: 3;
}
.u-gre4{
  grid-row-end: 4;
}
.u-gre5{
  grid-row-end: 5;
}

.u-gcs1{
  grid-column-start: 1;
}
.u-gcs2{
  grid-column-start: 2;
}
.u-gcs3{
  grid-column-start: 3;
}
.u-gcs4{
  grid-column-start: 4;
}
.u-gcs5{
  grid-column-start: 5;
}

.u-gce1{
  grid-column-end: 1;
}
.u-gce2{
  grid-column-end: 2;
}
.u-gce3{
  grid-column-end: 3;
}
.u-gce4{
  grid-column-end: 4;
}
.u-gce5{
  grid-column-end: 5;
}
