.custm_hero .hero__inner {height: 100% !important; position: absolute !important;}
.custm_hero .hero__inner .mega-subtitle {margin-right: 0; float: none !important;}
.custm_hero p {margin-right: 0 !important;float: none; margin-left: auto !important; margin-top:-60px !important; margin-bottom: 60px !important; font-size: 32px !important; width: 69% !important; font-weight: 600;}
.custm_hero .learn {margin: 0 !important; display: inline-block; vertical-align: middle;}
.custm_hero .learn a {margin-left: 0 !important; margin-right: 0 !important; margin-top: 0 !important; margin-bottom: 0px !important;}
.custm_hero .shop {margin: 0px 10px 0px 0px !important; display: inline-block; vertical-align: middle;}
.custm_hero .shop a {margin-top: 0 !important; margin-left: 0 !important; margin-right: 0 !important; margin-bottom: 0px !important;}
.custm_hero .hero__inner a {background-color: white;letter-spacing: 1.3px;/* font-size: 16px; */text-transform: capitalize; height: auto !important; border-width: 4px; float: none !important; font-weight: 600; /*background-color: #ff574f; color: #fff;*/ line-height: 1.4; padding: 9px 18px 11px 18px;/* width: 300px !important;*/}
.custm_hero .hero__inner a:hover {opacity: 1;color:white;}
nav ul.site-nav {padding-bottom: 0px !important;}
.template-index .video-wrapper{padding-bottom: 60.64%; float: left; width: 100%;}

/*responsive*/
@media only screen and (max-width: 5500px) and (min-width: 1200px){
.custm_hero .banner-mobile {background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/1920-x-500-banner-V3-cropped-food_31e860c2-a175-4e6b-939a-74fd5f5b5a09_1024x1024.png?v=1541153135) !important;background-color:#fff;}
.custm_hero .banner-mobile {height:430px !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
.custm_hero p {font-size: 34px !important; width: 70% !important; margin-bottom: 30px !important;}
.custm_hero .banner-mobile {background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/1920-x-500-banner-V3-cropped-food_31e860c2-a175-4e6b-939a-74fd5f5b5a09_1024x1024.png?v=1541153135) !important;background-color:#fff;}
.hero--medium {height: 370px;}
}
@media (min-width: 750px) and (max-width: 991px) {
.custm_hero .banner-mobile {background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/1920-x-500-banner-V3-cropped-food_31e860c2-a175-4e6b-939a-74fd5f5b5a09_1024x1024.png?v=1541153135) !important;background-color:#fff;}
.custm_hero .hero__inner a {font-size: 20px;}
.custm_hero p {font-size: 28px !important; width: 70% !important; margin-bottom: 30px !important;}
.hero--medium {height: 330px;}
}
@media (max-width: 1199px){
.template-index .video-wrapper iframe {height: 100%;} 
}
@media (max-width: 749px) {
.custm_hero .hero {height: 380px !important;}
.custm_hero p {font-size: 26px !important; width: 55% !important; margin-bottom: 30px !important;}
.custm_hero .hero__inner a {font-size: 16px; min-width: 150px;}
.custm_hero .hero__inner a {width: 200px !important;}
.custm_hero .shop {margin: 0px 0px 12px 0px !important; display: block;}
.custm_hero {padding-bottom: 0 !important;}
.hero--medium {height: 350px;}
}
@media (max-width: 890px) {
.custm_hero .hero.banner-mobile {background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/baby_2a8bb782-7e35-4e7d-a263-3eea41253d85_1024x1024.png?v=1540898810) !important; background-color:#fff;background-position: left bottom !important;}
.custm_hero p {font-size: 18px !important; width: 55% !important; margin-top: -40px !important;}
.custm_hero .hero__inner a {width: 110px !important; min-width:110px !important; padding: 5px; font-size:14px;}
.custm_hero .hero {height: 410px !important;}
.template-index .video-wrapper {padding-bottom: 56.25%;}  
body .product-single__description {
    height: auto !important;
}  
}
@media screen and (max-width: 540px){
.cart__footer .grid__item.text-right {height: auto;}
}

@media (max-width: 550px) {
.custm_hero .hero {height: 350px !important;}
}
@media (max-width: 435px){
.custm_hero p {width: 65% !important;}
.custm_hero .hero {height: 300px !important;}
}

@media (max-width: 413px){
body .rte-setting {margin-left: 0px;}
}
@media (max-width: 380px){
.custm_hero p {width: 75% !important;}
}

@media only screen and (min-width: 1220px)
.hero--medium {
    height: 400px;
}

@media only screen and (min-width: 1090px)
.hero--medium {
    height: 340px;
}

