/*
  BEM BLOCK .c-review
 */

.c-review {
  display: block;
  text-align: center;
  @include mq($from: tablet){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 1fr;
    text-align: left;
  }
}

/*
  BEM BLOCK MODIFIER .c-review--
 */

.c-review-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-review--

[class*=c-review--] {
  @extend .c-review;
}

/*
  BEM ELEMENTS .c-review__
 */

.c-review__ {
  &score{
    color: $brand-col-3;
    @include act-font-size($act-fs-1);
    margin-bottom: $act-unit-s;
    @include mq($from: tablet){
      grid-column: 1;
      grid-row: 1;
    }
  }
  &stars{
    display: flex;
    justify-content: center;
    color: $brand-col-3;
    margin-bottom: $act-unit-s;
    @include mq($from: tablet){
      grid-column: 1;
      grid-row: 2;
      justify-content: flex-start;
    }
  }
  &quote{
    @extend .o-box;
    @extend .o-box--small;
    margin-bottom: 0;
    @include mq($from: tablet){
      grid-column: 2;
      grid-row: 1 / 3;
      padding-top: 0;
      padding-left: 0;
    }
  }
  &cite{
    @include act-font-size($act-fs-5);
    font-style: normal;
    @include mq($from: tablet){
      grid-column: 2;
      grid-row: 3;
    }
  }
  &header {
    display: block;
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-review--

[class*=c-review__header--] {
  @extend .c-review__header;
}
