/*
  BEM BLOCK .c-collection-swatches
 */

.c-collection-swatches {
  display: flex;
  pointer-events: all;
  justify-content: center;
  flex-wrap: wrap;
}

/*
  BEM BLOCK MODIFIER .c-collection-swatches--
 */

.c-collection-swatches-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-collection-swatches--

[class*=c-collection-swatches--] {
  @extend .c-collection-swatches;
}

/*
  BEM ELEMENTS .c-collection-swatches__
 */

.c-collection-swatches__ {
  &swatch {

  }
  &swatch-link{

    display: block;
    padding: $inuit-global-spacing-unit-tiny / 2;
  }
  &swatch-label{
    @include size($inuit-global-spacing-unit-small);
    background: #fafafa;
    display: block;
    border-radius: 50%;
  }
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-collection-swatches--

[class*=c-collection-swatches__header--] {
  @extend .c-collection-swatches__header;
}