/*
  BEM BLOCK .c-cta
 */

.c-cta {
  display: block;
  p{
    margin-bottom: $act-unit;
  }
}

/*
  BEM BLOCK MODIFIER .c-cta--
 */

.c-cta-- {
  &reviews {
     display: block
   }
}

//BEM BLOCK MODIFIER FALLBACK .c-cta--

[class*=c-cta--] {
  @extend .c-cta;
}

/*
  BEM ELEMENTS .c-cta__
 */

.c-cta__ {
  &header {
    display: block;
  }

  &heading {
    display: block;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline;
    @extend .o-btn;
    background: #8bc981;
    color: white;
  }

  &content {
    display: block;
    @extend .o-box;
    text-align: center;
    border: solid 3px;
  }

  &footer {
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-cta--

[class*=c-cta__header--] {
  @extend .c-cta__header;
}
