/*
  BEM BLOCK .c-cta
 */


.c-cta {
  display: block;

}

/*
  BEM BLOCK MODIFIER .c-cta--
 */

.c-cta-- {
  &reviews {
     display: block
   }
}

//BEM BLOCK MODIFIER FALLBACK .c-cta--

[class*=c-cta--] {
  @extend .c-cta;
}

/*
  BEM ELEMENTS .c-cta__
 */

.c-cta__ {
  &header {
    display: block;
  }

  &heading {
    display: block;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline-block;
    @extend .o-btn;
       margin-top: 10px;
     background-color: #4CAF50;
     color: #ffffff;
  }

  &content {
    display: block;
    @extend .o-box;

     @include mq($from: mobile){
      text-align: center;
      border: solid 3px;
      margin-top: 5px;
      clear: both;
    }
    @include mq($from: tablet){
        border: 0;
    }
    
  }

  &footer {
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-cta--
  .c-btn--bbd:hover{
      background: #8bc981 !important;
      opacity: 1 !important;
    }
[class*=c-cta__header--] {
  @extend .c-cta__header;
}
