.c-site-map{
  h3.link-title{
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  ul{
    li{
      a{
        color: #0070c9;
        margin: 5px 0;
        display: inline-block;
      }
    }
  }
  .no-padding{
    padding: 0 !important;
    margin: 0 !important;
  }
}

