.c-btn{
  @extend .o-btn;
}

[class*='c-btn--']{
  @extend .c-btn;
}

.c-btn--{
  &col1{
    @extend .c-btn;
    background: $brand-col-1;
  }
  &col2{
    @extend .c-btn;
    background: $brand-col-2;
  }
  &bbd{
    background: #8bc981 !important;
    &:hover{
      background: #8bc981 !important;
      opacity: 0.6;
    }
  }
  &buy-bundle{
    background: #CB9362;
    &[disabled]{
      background: #ccc;

    }
  }
}
