/*
  BEM BLOCK .c-icon-list
 */

.c-icon-list {
  display: block;
  text-align: left;

}

/*
  BEM BLOCK MODIFIER .c-icon-list--
 */

.c-icon-list-- {
  &type {
    display: block
  }
  &small{
    @include act-font-size($act-fs-5);
  }
  &m{
    @include act-font-size($act-fs-4);
  }
  &l{
    @include act-font-size($act-fs-3)
  }
  &promo{
    @extend .c-icon-list--l
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-icon-list--

[class*=c-icon-list--] {
  @extend .c-icon-list;
}

/*
  BEM ELEMENTS .c-icon-list__
 */

.c-icon-list__ {
  &list {
    display: block;
    list-style: none;
    margin-left: 0;
    .rte &{
      margin-left: 0;
    }
  }
  &item{
    display: flex;
    align-items: center;
    margin-bottom: $act-unit-s;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &icon{
    display: block;
    width: $act-unit-s;
    color: $brand-col-2;
  }

  &text {
    display: inline;
  }
  &label{
    flex-shrink: 2;
  }
  &title{
    @extend .c-icon-list__label;

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-list__list--

[class*=c-icon-list__list--] {
  @extend .c-icon-list__list;
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-list__item--

[class*=c-icon-list__item--] {
  @extend .c-icon-list__item;
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-list__icon--

[class*=c-icon-list__icon--] {
  @extend .c-icon-list__icon;
}

.c-icon-list__icon--{
  &left{

    //margin-left: -$act-unit-s;
  }
  &promo{
    @include size($act-unit-h);
    margin-right: $act-unit;
  }
}

[class*=c-icon-list__item--] {
  @extend .c-icon-list__item;
}

.c-icon-list__item--{
  &l{
    margin-bottom: $act-unit-l;
  }
  &promo{
    @extend .c-icon-list__item--l;
  }
}

[class*=c-icon-list__list--] {
  @extend .c-icon-list__list;
}

.c-icon-list__list--{
  &l{
    margin-bottom: $act-unit-l;
  }
  &promo{
    @extend .c-icon-list__list--l;
  }
}


[class*=c-icon-list__label--] {
  @extend .c-icon-list__label;
}

.c-icon-list__label--{
  &bold{
   font-weight: bold;
  }
  &promo{
    @extend .c-icon-list__label--bold;
  }
}
