/*
  BEM BLOCK .c-cta
 */

*{
  color: orange !important;
}
.c-cta {
  display: block;

}

/*
  BEM BLOCK MODIFIER .c-cta--
 */

.c-cta-- {
  &reviews {
     display: block
   }
}

//BEM BLOCK MODIFIER FALLBACK .c-cta--

[class*=c-cta--] {
  @extend .c-cta;
}

/*
  BEM ELEMENTS .c-cta__
 */

.c-cta__ {
  &header {
    display: block;
  }

  &heading {
    display: block;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline;
     background-color: #501640;
    @extend .o-btn

     background-color: #501640;
  }

  &content {
    display: block;
    @extend .o-box;
    text-align: center;
    border: solid 3px;

  }

  &footer {
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-cta--

[class*=c-cta__header--] {
  @extend .c-cta__header;
}
