/*
  BEM BLOCK .c-shopping-cart
 */

.c-shopping-cart {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-shopping-cart--
 */

.c-shopping-cart-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-shopping-cart--

[class*=c-shopping-cart--] {
  @extend .c-shopping-cart;
}

/*
  BEM ELEMENTS .c-shopping-cart__
 */

.c-shopping-cart__ {
  &header {
    display: block;
    border-bottom: solid 1px $brand-col-6;
    margin-bottom: $act-unit;
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &notice{
    margin-bottom: $act-unit-h;
    border-bottom: 1px solid $brand-col-6;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-shopping-cart--

[class*=c-shopping-cart__header--] {
  @extend .c-shopping-cart__header;
}

[class*=c-shopping-cart__notice--] {
  @extend .c-shopping-cart__notice;
}
