/*
  BEM BLOCK .c-btn
 */

.c-btn {
 @extend .o-btn;
  flex-wrap: nowrap;
}

/*
  BEM BLOCK MODIFIER .c-btn--
 */

.c-btn-- {
  &primary{
    @extend .c-btn;
  }
  &block {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  &sub{
    @extend .c-btn;
  }
  &inline{
    @extend .c-btn;
  }
  &pill{
    border-radius: $act-unit;
    padding-left: $act-unit;
    padding-right: $act-unit;
  }
  &transparent{
    @extend .c-btn;
    background-color: transparent;
    &:hover{
      background-color: transparent;
    }
  }
  &n{
    @extend .c-btn;
    padding: $inuit-global-spacing-unit-tiny  $inuit-global-spacing-unit-small;
    @include act-font-size($act-fs-4, 1);
    text-transform: none;
  }
  &s{
    @extend .c-btn;
    padding: $act-unit-s;
    @include act-font-size($act-fs-5, 1);
  }
  &t{
    @extend .c-btn;
    padding: $act-unit-t;
    @include act-font-size($act-fs-6, 1);
  }
  &cta1{
    @extend .c-btn--video;
    padding-left: 0;
    margin-left: 0;
  }
  &more{
    @extend .o-btn--s;
    @extend .c-btn--green;
    @extend .c-btn--pill;
    text-transform: uppercase;
    &:focus{
      //color: white;
    }
  }
  &add{
   @extend .c-btn--more;
    width: 100%;
    border: none;
    justify-content: space-between;
    &[disabled="disabled"]{
      filter: saturate(0.2);
      opacity: 0.3;
    }

    margin: 0;

  }
  &video{
    @extend .o-btn--s;
    @extend .c-btn--transparent;
    @extend  .c-btn--col-3;
  }
  &bg-1{
    @extend .c-btn;
    background: $brand-col-1;
    border-color: $brand-col-1;
    &:hover{
      background: darken($brand-col-1, 10%);
    }
    a:hover, a:focus, a:active{
      color: white;
    }
  }
  &bg-2{
    @extend .c-btn;
    background: $brand-col-2;
    border-color: $brand-col-2;
    &:hover, &:focus,  &:active{
      background: darken($brand-col-2, 10%);
      color: white;
    }
    a:hover, a:focus, a:active{
      color: white;
    }
  }
  &bg-3{
    @extend .c-btn;
    background: $brand-col-3;
    border-color: $brand-col-3;
    color: white;
    &:hover, &:focus,  &:active{
      background: darken($brand-col-3, 10%);
      color: white;
    }
    a:hover, a:focus, a:active{
      color: white;
    }
  }

  &green{
    @extend .c-btn;
    background: $icm-green;
    border-color:$icm-green;
    color: white;
    &:hover, &:focus,  &:active{
      background: darken($icm-green, 10%);
      color: white;
    }
    a:hover, a:focus, a:active{
      color: white;
    }
  }
  &col-3{
    @extend .c-btn;
    color: $brand-col-3;
    &:hover{
      color: darken($brand-col-3, 5);
    }
    a:hover{
      color: darken($brand-col-3, 5);
    }
  }
  &checkout-submit{
    @extend .c-btn--s;
    @extend .c-btn--block;
    @extend .c-btn--pill;
    @extend .c-btn--bg-3;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-btn--

[class*=c-btn--] {
  @extend .c-btn;
}

/*
  BEM ELEMENTS .c-btn__
 */

.c-btn__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &label{
    @extend .o-btn__label
  }
  &icon{
    @extend .o-btn__icon
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-btn--

[class*=c-btn__header--] {
  @extend .c-btn__header;
}

.c-btn__svg--more{
  @include size(1em);
}

.c-btn__label--more{
  margin-left: $act-unit-l;
  margin-right: $act-unit-l;
}
