/*
  BEM BLOCK .c-add-form
 */

.c-add-form {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-add-form--
 */

.c-add-form-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-add-form--

[class*=c-add-form--] {
  @extend .c-add-form;
}

/*
  BEM ELEMENTS .c-add-form__
 */

.c-add-form__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &select{
    width: 45%;
    max-width:  45%;
  }
  &submit{
    width: 45%;
    max-width:  45%;
    flex-basis: 45% !important;
  }
  &select{
    @include act-font-size($act-fs-6, $line-height : 1.6, $important : true);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-add-form--

[class*=c-add-form__header--] {
  @extend .c-add-form__header;
}
